<div class="view-container">
  <div class="right-container">
    <div class="job-seeker-container person-container"
      (click)="goToCreatePerson()"
      matRipple>
      <div class="job-seeker-text">
        <h1 class="title">I am a Job Seeker</h1>
      </div>
      <div class="overlay-1">
        <mat-icon>person</mat-icon>
      </div>
    </div>
  </div>
  <div class="left-container">
    <div class="recruiter-container person-container"
      (click)="goToCreateJob()"
      matRipple>
      <div class="recruiter-text">
        <h1 class="title">I am a Recruiter</h1>
      </div>
      <div class="overlay-1">
        <mat-icon>person_search</mat-icon>
      </div>
    </div>
  </div>
</div>
